@media screen and (max-width:768px){
    footer ul li a{
        margin: 2rem;
        font-size: .9rem;
        font-weight: 500;
    }
}
@media screen and (max-width:576px){
    footer ul li a{
        margin: .8rem;
        font-size: .8rem;
        font-weight: 400;
    }
}